.section {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.first {
    padding-top: 50px !important;
}

.last {
    padding-bottom: 50px !important;
}

.section-text {
    max-width: 500px;
}

.section-header {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 5px;
}

.section-description {
    margin-top: 0; 
    margin-bottom: 20px;
}

.section-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.left>.section-text>.section-buttons {
    justify-content: flex-start;
}

.left>.section-text>.section-header, .left>.section-text>.section-description {
    text-align: start;
}

.left>.section-image {
    order: 1;
}

.left>.section-text {
    order: 2;
    
}

.right>.section-text>.section-buttons {
    justify-content: flex-end;
}

.right>.section-text>.section-header, .right>.section-text>.section-description {
    text-align: end;
}

.right>.section-image {
    order: 2;
}

.right>.section-text {
    order: 1;
}

@media screen and (min-width: 800px) {
    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .section-image {
        width: 30%;
        max-width: 260px;
    }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
    .section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section-image {
        width: 60%;
        margin-bottom: 50px;
        max-width: 400px;
    }
    .section-text {
        margin-left: auto;
        margin-right: auto;
    }
    .section-buttons {
        justify-content: center !important;
    }

    .left>.section-text>.section-header, .left>.section-text>.section-description {
        text-align: center;
    }

    .right>.section-text>.section-header, .right>.section-text>.section-description {
        text-align: center;
    }

    .right>.section-image {
        order: 1;
    }
    
    .right>.section-text {
        order: 2;
    }
}

@media screen and (max-width: 600px) {
    .section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section-image {
        margin-bottom: 50px;
        max-width: 400px;
    }
    .section-text {
        margin-left: auto;
        margin-right: auto;
    }
    .section-buttons {
        justify-content: center !important;
    }

    .left>.section-text>.section-header, .left>.section-text>.section-description {
        text-align: center;
    }

    .right>.section-text>.section-header, .right>.section-text>.section-description {
        text-align: center;
    }

    .right>.section-image {
        order: 1;
    }
    
    .right>.section-text {
        order: 2;
    }
}